In [1]:
import mysql.connector as connection

In [4]:
def executeQuery(query):
    con = connection.connect(host="localhost",user="root",passwd="admin",use_pure=True)
    cursor= con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    return result

Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from customer
table.

In [8]:
query = "select substring(first_name,1,3) from sakila.customer limit 5"
executeQuery(query)

[('MAR',), ('PAT',), ('LIN',), ('BAR',), ('ELI',)]

 Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘ANITA’ from customer table.

In [11]:
query = "Select position('a' in first_name) from sakila.customer where first_name = 'ANITA'"
executeQuery(query)

[(1,)]

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [13]:
query = "select first_name from sakila.worker where salary in (SELECT max(salary) from sakila.Worker group by DEPARTMENT);"
executeQuery(query)

[('Vishal',), ('Amitabh',), ('Vivek',), ('Vipul',)]