In [1]:
import mysql.connector as connection

In [2]:
def executeQuery(query):
    con = connection.connect(host='localhost',database='sakila',user='root',passwd='admin',use_pure=True)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    con.close()
    return result

### Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [5]:
query = "select * from worker where year(joining_date) =2014 and month(joining_date)=2"
executeQuery(query)

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin')]

### Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [18]:
query = "select * from title group by Worker_title,affected_from having count(*) >1"
executeQuery(query)

[(2, 'Executive', datetime.datetime(2016, 6, 11, 0, 0)),
 (6, 'Lead', datetime.datetime(2016, 6, 11, 0, 0))]

### Q-3. How to remove duplicate rows from Employees table.

In [3]:
def insertquery(query):
    con = connection.connect(host='localhost',user='root',passwd='admin',database='sakila',use_pure=True)
    cursor = con.cursor()
    cursor.execute(query)
    con.commit()
    con.close()

In [12]:
query = "create table employees(empName varchar(20),empNo int)"
executeQuery(query)

[]

In [13]:
insertquery("insert into employees values('ABC',123)")
insertquery("insert into employees values('ABC',122)")
insertquery("insert into employees values('ABC',124)")
insertquery("insert into employees values('DBC',125)")

In [14]:
executeQuery("select * from employees")

[('ABC', 123), ('ABC', 122), ('ABC', 124), ('DBC', 125)]

In [15]:
query = "delete t1 from employees as t1 inner join employees t2 where t1.empNo<t2.empNo and t1.empName=t2.empName"
insertquery(query)

In [16]:
executeQuery("select * from employees")

[('ABC', 124), ('DBC', 125)]