In [2]:
import mysql.connector as connection

In [3]:
def executeQuery(query):
    con = connection.connect(host='localhost',user='root',passwd='admin',use_pure=True)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    return result

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

In [3]:
query = "select rtrim(first_name) from sakila.worker"
executeQuery(query)

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

In [7]:
query = "select distinct(department) from sakila.worker"
output = executeQuery(query)
for i in output:
    print(i[0],len(i[0]))

HR 2
Admin 5
Account 7

In [8]:
query = "select distinct length(department) from sakila.worker"
executeQuery(query)

[(2,), (5,), (7,)]

Q-3. Write an SQL query to fetch nth max salaries from a table.

In [4]:
query = "select Salary from (select distinct salary,dense_rank() over(order by salary desc) as dummy FROM sakila.worker) as t where t.dummy<5;"
executeQuery(query)

[(500000,), (300000,), (200000,), (100000,)]