In [1]:
import mysql.connector as connection

In [3]:
def executeQuery(query):
    con = connection.connect(host='localhost',user='root',passwd='admin',database='sakila',use_pure=True)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    con.close()
    return result

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

In [4]:
query = "select replace(first_name,'a','A') from worker"
executeQuery(query)

[('MonikA',),
 ('NihArikA',),
 ('VishAl',),
 ('AmitAbh',),
 ('Vivek',),
 ('Vipul',),
 ('SAtish',),
 ('GeetikA',)]

Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

In [9]:
ascquery = "select * from worker order by first_name asc"
print("Ascending Data \n\n",executeQuery(ascquery))
print("\n\n\n")
descquery = "select * from worker order by first_name desc"
print("Descending order\n\n",executeQuery(descquery))

Ascending Data

 [(4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin'), (8, 'Geetika', 'Chauhan', 90000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin'), (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'), (2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'), (7, 'Satish', 'Kumar', 75000, datetime.datetime(2014, 1, 20, 9, 0), 'Account'), (6, 'Vipul', 'Diwan', 200000, datetime.datetime(2014, 6, 11, 9, 0), 'Account'), (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'), (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin')]




Descending order

 [(5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'), (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'), (6, 'Vipul', 'Diwan', 200000, datetime.datetime(2014, 6, 11, 9, 0), 'Account'), (7, 'Satish', 'Kumar', 75000, datetime.datetime(2014, 1, 20, 9, 0), 'Account'), (2, 'Niharika', 'Verma', 80000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'), (1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'), (8, 'Geetika', 'Chauhan', 90000, datetime.datetime(2014, 4, 11, 9, 0), 'Admin'), (4, 'Amitabh', 'Singh', 500000, datetime.datetime(2014, 2, 20, 9, 0), 'Admin')]

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [11]:
query = "select first_name from worker where salary =(select max(salary) from worker)"
executeQuery(query)

[('Amitabh',), ('Vivek',)]