In [1]:
import mysql.connector as connection

In [4]:
def executeQuery(query):
    con =  connection.connect(host='localhost',user='root',passwd = 'admin',database='sakila',use_pure=True)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    con.close()
    return result

Q-13. Write an SQL query to show only odd rows from aÂ table.

In [19]:
query = "select t.customer_id from (select * from customer order by customer_id) as t where mod(t.customer_id,2)!=0"
executeQuery(query)[:10]

[(1,), (3,), (5,), (7,), (9,), (11,), (13,), (15,), (17,), (19,)]

Q-14. Write an SQL query to clone a new table from another table.

In [21]:
query = "create table customer2 select * from customer"
executeQuery(query)

[]

In [23]:
executeQuery("select * from customer2 limit 3")

[(1,
  1,
  'MARY',
  'SMITH',
  'MARY.SMITH@sakilacustomer.org',
  5,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (2,
  1,
  'PATRICIA',
  'JOHNSON',
  'PATRICIA.JOHNSON@sakilacustomer.org',
  6,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (3,
  1,
  'LINDA',
  'WILLIAMS',
  'LINDA.WILLIAMS@sakilacustomer.org',
  7,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 36),
  datetime.datetime(2006, 2, 15, 4, 57, 20))]