In [1]:
import mysql.connector as connection

In [5]:
def executeQuery(query):
    con = connection.connect(host='localhost',user='root',passwd='admin',use_pure=True)
    cursor = con.cursor()
    cursor.execute(query)
    result = cursor.fetchall()
    con.close()
    return result

Q-1. Write an SQL query to fetch “FIRST_NAME” from Customer table using the alias
name as <customer name>.

In [7]:
query = "select first_name from sakila.customer Limit 5"
executeQuery(query)

[('MARY',), ('PATRICIA',), ('LINDA',), ('BARBARA',), ('ELIZABETH',)]

Q-2. Write an SQL query to fetch unique values of Store_id from customer table.

In [9]:
query = "select distinct(store_id) from sakila.customer"
executeQuery(query)

[(1,), (2,)]

Q-3. Write an SQL query to show the last 5 record from a table.

In [12]:
query = "select * from sakila.customer order by customer_id DESc Limit 5"
executeQuery(query)

[(599,
  2,
  'AUSTIN',
  'CINTRON',
  'AUSTIN.CINTRON@sakilacustomer.org',
  605,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 37),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (598,
  1,
  'WADE',
  'DELVALLE',
  'WADE.DELVALLE@sakilacustomer.org',
  604,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 37),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (597,
  1,
  'FREDDIE',
  'DUGGAN',
  'FREDDIE.DUGGAN@sakilacustomer.org',
  603,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 37),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (596,
  1,
  'ENRIQUE',
  'FORSYTHE',
  'ENRIQUE.FORSYTHE@sakilacustomer.org',
  602,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 37),
  datetime.datetime(2006, 2, 15, 4, 57, 20)),
 (595,
  1,
  'TERRENCE',
  'GUNDERSON',
  'TERRENCE.GUNDERSON@sakilacustomer.org',
  601,
  1,
  datetime.datetime(2006, 2, 14, 22, 4, 37),
  datetime.datetime(2006, 2, 15, 4, 57, 20))]